


:root{
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Verydarkdesaturatedblue1: hsla(229, 23%, 23%, 0.089);

    --Darkgrayishblue: hsl(227, 10%, 46%);
    --Darkgray: hsl(0, 0%, 59%);
}

body{
    
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--Darkcyan);
    background-image: url(https://digitshack.com/codepen/mentor4/bg-pattern-top.svg), url(https://digitshack.com/codepen/mentor4/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 48vw bottom 40vh,
        left 45vw top 44vh;
    min-height: 100vh;
    align-items: center;
    display: flex;

}

.container{
   margin: 0 auto;
   text-align: center;
}

.card{
    background-color: white;
    border-radius: 13px; 
    overflow: hidden;
    max-width: 420px;
    margin: 1rem;
   
}




.info{
    text-align: center;
    padding: 30px;

}

.info h2{
    color: var(--Verydarkdesaturatedblue);
    font-weight: 700;
}

.info h2 span{
    color: var(--Darkgrayishblue);
    font-weight: 400;
    padding-left: 10px;
    
}

.info p{
    color: var(--Darkgrayishblue);
}
.photo img{
   
    border-radius: 50%;
    width: 100px;
    border: 6px solid #ffff;
    margin-top: -90px;
    margin-bottom: 10px;
    
    
   
}

.num-flex{
    border-top: 1px solid hsla(227, 10%, 46%, 0.2);
    display: flex;
    gap: 3rem;
    

}


.num-flex p{
    font-size: 15px;
    margin-bottom: 5px;
}

